<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org": XML namespace for Thymeleaf, enabling you to use Thymeleaf-specific features and attributes in your HTML document.-->
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
<h1> Custom Login Form</h1>
<!-- This "@{/authenticateTheUser}", is based on information from our SpringSecurityConfig file, so those two things have to match up.-->
<form action="#" th:action="@{/authenticateTheUser}"
      method="POST">
    <!--    [IMP] Spring Security defines default names for login form fields : Username field: 'username' & Password field: 'password'-->
    <!--    Spring Security Filters will read the form data i.e. is 'username' and 'password' and authenticate the user-->
    <p>
        User name: <input type="text" name="username"/>
    </p>
    <p>
        Password: <input type="password" name="password"/>
    </p>
    <input type="submit" value="Login"/>
</form>
</body>
</html>